.contactWrapper {
  max-width: 700px;
  margin: auto;

  border-radius: 1.2rem;
}

.contactTitle {
  font-size: var(--text-2xl);
  text-align: center;
  font-weight: 900;
  line-height: 1;
  font-family: var(--font-quattrocento);
  color: var(--brand-2);
  span {
    color: var(--brand-1);
  }

  @media (max-width: 768px) {
    font-size: var(--text-xl);
  }
}

.contactCopy {
  text-align: center;
  font-weight: 200;
  margin: 2.4rem 0;

  font-family: var(--font-inter);
  a {
    color: var(--brand-1);
    font-weight: 700;
  }

  a:hover {
    text-decoration: underline;
    color: var(--brand-2);
  }
}
.contactAccent {
  text-align: center;
  font-weight: 200;
  margin: 2.4rem auto;
  font-family: var(--font-inter);
  border-block-end: 2px solid var(--brand);
  max-width: max-content;
  color: var(--brand-1);
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: var(--brand-2);
  }
}

.contactEmail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  width: fit-content;

  font-size: var(--text-md);

  margin: auto;

  transition: 0.5s;

  padding: 12px 32px 12px 32px;
  border-radius: 1rem;
  background: var(--background-light);

  &:hover {
    background: var(--brand);
  }
}

.contactEmail {
  color: var(--brand-1);
  transition: color 0.2s ease-in-out;
}
.contactEmail:hover {
  color: var(--background);
}
