.outlineButton {
  outline: none;
  border: none;
  cursor: pointer;

  margin-block-start: 10px;
  padding: 1.25rem 4rem;

  border: 2px solid var(--brand-2);
  background: transparent;
  color: var(--brand-2);
  font-size: var(--text-md);
  border-radius: 4px;

  position: relative;
  z-index: 20;

  overflow: hidden;

  transition: 0.3s color;

  svg {
    display: none;
  }

  @media (max-width: 480px) {
    font-size: 0;
    padding: 0.5rem 0.5rem;
    svg {
      display: block;
    }
  }
}

.outlineButton::before,
.outlineButton::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--brand-1);

  width: 50%;
  height: 100%;
}

.outlineButton::before {
  left: -50%;
  top: 0;
  transition: 0.3s left;
}
.outlineButton::after {
  right: -50%;
  top: 0;
  transition: 0.3s right;
}

.outlineButton:hover {
  color: var(--text);
  border: 2px solid var(--brand-1);
}

.outlineButton:hover::before {
  left: 0;
}
.outlineButton:hover::after {
  right: 0;
}

.outlineButton:active,
.outlineButton:active::before,
.outlineButton:active::after {
  background-color: transparent;
}
