:root {
  font-size: 62.5%;

  --background: #111111;
  --bg-opaque: #11111140;
  --background-light: #232323;
  --background-dark: #080808;

  --text: #fff7eb;

  --brand-1: #00dfff;
  --brand-2: #ef476f;
  --brand-2: #f77f00;
  --brand-2: #fcf300;
  --brand: #00dfff;
  /* --brand: hsl(48, 84%, 81%); */

  --text-xs: 1.6rem;
  --text-sm: 1.8rem;
  --text-md: 2.2rem;
  --text-lg: 3.6rem;
  --text-xl: 5.6rem;
  --text-2xl: 9.6rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::selection {
  background: var(--brand);
  color: var(--background);
}

html,
body {
  max-width: 100%;
  scroll-behavior: smooth;
  font-size: var(--text-sm);
  overflow-x: hidden;
}

body {
  color: var(--text);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

.section-wrapper {
  position: relative;
  z-index: 10;
  max-width: 1260px;
  /* background-color: #ef476f; */
  margin: auto;
  padding: 9.6rem;
  overflow: hidden;
  width: 100%;
}

@media (max-width: 768px) {
  .section-wrapper {
    padding: 7.2rem 2.4rem;
    padding-inline-start: calc(2.4rem + 60px);
  }
}

.chip {
  font-size: var(--text-xs);
  background: var(--background-light);
  padding: 0.4rem 1.6rem;
  border-radius: 999px;
}
